# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
env/
build/
dist/
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
*.cover
*.pyo
*.pyd
*.sqlite3
*.db
*.pid
*.log
.env
.env.*

# backend static files
backend/app/static/

# VSCode
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json

# Node.js / Frontend
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.eslintcache
frontend/.env*

# TypeScript
*.tsbuildinfo

# Tailwind CSS
frontend/tailwind.config.js
frontend/tailwind.config.ts

# Docker
*.pid
*.db

# Logs
*.log
log/
logs/

# OS固有
Thumbs.db
.DS_Store
